<div class="sign-in">
  <div class="sign-in__logo">
    <img src="assets/images/github-logo.svg" alt="Github Logo">
  </div>
  <div class="sign-in__container">
    <div class="sign-in__container__description">
      <p>Welcome to the Git-List app, in order to see the list of your repositories
      you must authorize this app to access your account public data. You can do so, by clicking in the button below.</p>
    </div>
    <div class="sign-in__container__button">
      <a class="btn btn-success" [href]="SIGN_URL">{{buttonText}}</a>
    </div>
  </div>
</div>